body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
h2{
    color: #8d3365;
    text-align: center;
}
button {
    background-color: #ff1493;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 0 #8d3365;
}

button:active {
    box-shadow: none;
    transform: translate(5px);
}

.ghost {
    position: absolute;
    left: 100%;
    mix-blend-mode: exclusion;
    animation: ghost 10s infinite;
}
button {
    background-color: #ff1493;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 0 #8d3365;
}
@keyframes ghost {
    to {
        width:50px;
        height:50px;
    }
}

.text {
    height: 100px;
    width: 200px;
}